:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --green-color: #1b8030;
    --primary-color: #ff7300;
    --border-color: #dbdbdb;
    --header-height: 200px;
    --navbar-height: 50px;
    --margin-header-height: 24px;
    --heading-height: calc(var(--header-height) - var(--navbar-height) - var(--margin-header-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.btn {
    min-width: 124px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--primary-color);
    display: inline;
    justify-content: center;
    align-items: center;
}